name: Security audit

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"

jobs:
  security-audit:
    runs-on: ubuntu-latest
    concurrency:
      group: security-audit-${{ github.ref }}-${{ github.event_name }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Audit
        run: make audit
